In [4]:
# Tipe data integer
x = 10
y = -200
z = 0
print(type(x))  # <class 'int'>
print(type(y))  # <class 'int'>
print(type(z))  # <class 'int'>

<class 'int'>
<class 'int'>
<class 'int'>

In [5]:
# operator penjumlahan untuk tipe data integer
a1 = 5
a2 = -180

a3 = a1 + a2
print(a3)
print(type(a3))

-175
<class 'int'>

In [6]:
# Tipe data float
a = 3.141592
b = -0.001
c = 1.0
d = float('inf') # memasukkan infinity sebagai float

# melihat isi variabel
print(a)
print(b)
print(c)
print(d)

# cek tipe data dari variabel
print(type(a))  # <class 'float'>
print(type(b))  # <class 'float'>
print(type(c))  # <class 'float'>
print(type(d))  # <class 'float'>

3.141592
-0.001
1.0
inf
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [7]:
# membandingkan nilai b3 dengan yang lain
if (a < d):
    print('lebih kecil')
else:
    print('lebih besar')

lebih kecil

In [8]:
# Operasi aritmatika pada float
print(a + c)
print(b ** a)
print(abs(a))

4.141592
(-3.3943828540367223e-10-1.618060304898697e-10j)
3.141592

In [9]:
# hasil operasi aritmatika pada float
float = b * a
print(float)
print(type(float))

# mengubah hasil operasi aritmatika float menjadi integer
print(int(b * a))

-0.0031415920000000003
<class 'float'>
0

In [10]:
# contoh tipe data string
a = 'Halo'
b = "Python"
c = """Ini adalah
string multi-baris"""
print(type(a))  # <class 'str'>
print(type(b))  # <class 'str'>
print(type(c))  # <class 'str'>

<class 'str'>
<class 'str'>
<class 'str'>

In [11]:
# indexing dan slicing 
text = "Python"
print(text[0])     # Output: P
print(text[-1])    # Output: n
print(text[0:3])   # Output: Pyt
print(text[:4])    # Output: Pyth
print(text[::2])   # Output: Pto (loncat 2 karakter)

P
n
Pyt
Pyth
Pto

In [12]:
# Operasi penggabungan string
print('Hello ' + 'World')

# Operasi pengulangan string
print('Hi' * 3)

# Operasi Pengecekan string
print('a' in 'data')

# Operasi panjang string
print(len('Python'))

Hello World
HiHiHi
True
6

In [13]:
# fungsi dalam string
s = "python programming"
print(s.upper())       # 'PYTHON PROGRAMMING'
print(s.capitalize())  # 'Python programming'
print(s.title())       # 'Python Programming'
print(s.replace("python", "java"))  # 'java programming'
print(s.split())       # ['python', 'programming']
print(s.find("gram"))  # 10

PYTHON PROGRAMMING
Python programming
Python Programming
java programming
['python', 'programming']
10

In [14]:
# String format menggunakan F-String
name = "Adam"
age = 25
print(f"Halo, nama saya {name}, umur saya {age}")

Halo, nama saya Adam, umur saya 25

In [15]:
# String format dengan format method
print("Halo, nama saya {}, umur saya {}".format(name, age))

Halo, nama saya Adam, umur saya 25

In [16]:
# membuat list
angka = [1, 2, 3, 4, 5]
buah = ["apel", "jeruk", "mangga"]
campuran = [1, "dua", 3.0, True]
kosong = []

# memanggil list
print(angka)
print(buah)
print(campuran)
print(kosong)

[1, 2, 3, 4, 5]
['apel', 'jeruk', 'mangga']
[1, 'dua', 3.0, True]
[]

In [17]:
# indexing dan slicing pada list
data = ["a", "b", "c", "d"]
print(data[0])      # Output: a
print(data[-1])     # Output: d
print(data[1:3])    # Output: ['b', 'c']
print(data[:2])     # Output: ['a', 'b']

a
d
['b', 'c']
['a', 'b']

In [18]:
# Operasi penambahan anggota list
data = [1, 2, 3, 4, 5]
data = data + [10, 20]
print(data)

# Operasi pengulangan list
list = [1, 2]
list = list * 3
print(list)

# Operasi mengukur panjang list
print(len(data))
print(len(list))

# Operasi mengecek keanggotaan pada list
print(20 in data)
print(13 in list)

[1, 2, 3, 4, 5, 10, 20]
[1, 2, 1, 2, 1, 2]
7
6
True
False

In [19]:
# Fungsi pada list 
a = [3, 1, 4, 1, 5]
print(a)
a.append(9)         # Menambahkan elemen di akhir
print(a)
a.insert(2, 7)      # Menyisipkan angka 7 di indeks ke-2
print(a)
a.remove(1)         # Menghapus elemen pertama yang bernilai 1
print(a)
a.pop()             # Menghapus elemen terakhir
print(a)
a.sort()            # Mengurutkan list secara ascending
print(a)
a.reverse()         # Membalik urutan elemen
print(a)
print(a.index(4))   # Mengembalikan indeks dari nilai 4
print(a.count(1))   # Menghitung jumlah kemunculan angka 1

[3, 1, 4, 1, 5]
[3, 1, 4, 1, 5, 9]
[3, 1, 7, 4, 1, 5, 9]
[3, 7, 4, 1, 5, 9]
[3, 7, 4, 1, 5]
[1, 3, 4, 5, 7]
[7, 5, 4, 3, 1]
2
1

In [20]:
# membuat matriks dari list bersarang
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
# memanggil matriks
print(matrix)
# memanggil elemen list pada indeks [1][2]
print(matrix[1][2])  # Output: 6

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6

In [21]:
# Contoh looping list
buah = ["apel", "jeruk", "mangga"]

# For Loop
for item in buah:
    print(item)

# Mengakses indeks dan elemen
for i, item in enumerate(buah):
    print(f"{i}: {item}")

apel
jeruk
mangga
0: apel
1: jeruk
2: mangga

In [22]:
# List Comprehension
# Buat list kuadrat dari 0-9
kuadrat = [x**2 for x in range(10)]
print(kuadrat)  # [0, 1, 4, 9, ..., 81]

# Filter hanya bilangan genap
genap = [x for x in range(10) if x % 2 == 0]
print(genap)  # [0, 2, 4, 6, 8]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]

In [23]:
# cara membuat tuple singleton
satu = ('Isi',)
dua = "ini adalah tuple?",

# cek tipe datanya
print(type(satu))
print(type(dua))

# jika tidak pakai koma
satu = ('Isi')
dua = "ini adalah tuple?"

# cek tipe datanya
print(type(satu))
print(type(dua))

<class 'tuple'>
<class 'tuple'>
<class 'str'>
<class 'str'>

In [24]:
# membuat tuple
nama = ('Adam', 'Bachtiar', 'Maulachela')

# mengakses indeks ke 1 dari tuple
print(nama[1])

Bachtiar

In [25]:
# Membuat Tuple
t = (1, 5, 10, 15)

# mengubah isi elemen tuple
t[0] = 0

TypeError: 'tuple' object does not support item assignment

In [29]:
# membuat tuple
angka = (10, 20, 30, 40)

# Memotong tuple
print(angka[1:3]) 
print(angka[:2])
print(angka[2:])

(20, 30)
(10, 20)
(30, 40)

In [30]:
# Operasi pada tuple
# penggabungan tuple
print((1, 2) + (3, 4))

# pengulangan tuple
print(('A',) * 3)

# cek panjang tuple
data = (1, 2, 4, 5)
print(len(data))

# cek keanggotaan tuple
print(3 in data)

(1, 2, 3, 4)
('A', 'A', 'A')
4
False

In [31]:
# Nested Tuple atau Tuple Bersarang
t = (1, 2, (3, 4))
print(t[2][0])  # Output: 3

tuple1 = "aku", "mahasiswa", "PTI UNDIKMA"
tuple2 = "selama", 3, "tahun"
tuple3 = (tuple1, tuple2) # <- nested tuple

print(tuple3)

3
(('aku', 'mahasiswa', 'PTI UNDIKMA'), ('selama', 3, 'tahun'))

In [32]:
# tuple berisi list
t = ([1,2,3,4], True)

print (t)

([1, 2, 3, 4], True)

In [33]:
# Sequence Unpacking
# pertama buat tuple seperti ini
web = 123, "PTI UNDIKMA", "https://fsttundikma.id"

# lalu di-unpacking
id_web, nama, url = web

# maka sekarang tiga variabel tersebut akan bernilai
# sesuai yang ada di dalam tuple
#
# mari kita cetak
print(id_web)
print(nama)
print(url)

123
PTI UNDIKMA
https://fsttundikma.id

In [1]:
# Latihan tuple 
matkul_list = []
jumlah = int(input("Input jumlah mata kuliah: "))

for i in range(jumlah):
    print(f"\nMata kuliah ke-{i+1}:")
    kode = input("Kode: ")
    nama = input("Nama: ")
    sks = int(input("SKS: "))
    matkul = (kode, nama, sks)
    matkul_list.append(matkul)

# Tampilkan data
print("\nDaftar Mata Kuliah:")
for m in matkul_list:
    print(m)

total_sks = sum(m[2] for m in matkul_list)
print(f"\nTotal SKS: {total_sks}")

ValueError: invalid literal for int() with base 10: ''

In [2]:
# membuat dictionary
data = {
    "nama"      : "Adam Bachtiar Maulachela",
    "NIDN"      : 62708078505,
    "Prodi"     : "Pendidikan Teknologi Informasi",
    "mat_kul"    : ['Algoritma dan Pemrograman', 'Struktur Data', 'PBO'],
    "status"    : True,
    "sosmed"    : {
        "Github"    : "@adamMaulachela",
        "twitter"   : '_',
        "instagram" : '-'
    }
}

In [3]:
# Cara kita mengakses dictionary dengan key
print("Nama Saya adalah %s" % data['nama'])
print("Akun Github saya %s" % data['sosmed']['Github'])

# cara lainnya dengan menggunakan .get
print("NIDN Saya adalah %s" % data.get('NIDN'))

Nama Saya adalah Adam Bachtiar Maulachela
Akun Github saya @adamMaulachela
NIDN Saya adalah 62708078505

In [4]:
# Mengubah nilai item dictionary dict dengan key
data['status'] = False

# Cek hasil perubahan
print(data['status'])

# Mengubah nilai item dictionary dengan .update
data.update({"sosmed" : {"twitter" : "@adammaulachaila"}})

# cek hasil perubahan
print(data['sosmed']['twitter'])

False
@adammaulachaila

In [5]:
# Menghapus menggunakan perintah del
del data['status']

# cek hasil penghapusan data 
print(data)

# Menghapus item menggunkan method pop()
data.pop("sosmed")

# cek hasil penghapusan data 
print(data)

# menghapus data seluruhnya
data.clear()

{'nama': 'Adam Bachtiar Maulachela', 'NIDN': 62708078505, 'Prodi': 'Pendidikan Teknologi Informasi', 'mat_kul': ['Algoritma dan Pemrograman', 'Struktur Data', 'PBO'], 'sosmed': {'twitter': '@adammaulachaila'}}
{'nama': 'Adam Bachtiar Maulachela', 'NIDN': 62708078505, 'Prodi': 'Pendidikan Teknologi Informasi', 'mat_kul': ['Algoritma dan Pemrograman', 'Struktur Data', 'PBO']}

In [6]:
# Menambah data dictionary
# membuat dictionary
mahasiswa = {
    "name" : "Adam Bachtiar Maulachela"
}

# menambahkan nim
mahasiswa.update({
    "nidn" : "0708078505"
})

# melihat hasilnya
print(mahasiswa)

{'name': 'Adam Bachtiar Maulachela', 'nidn': '0708078505'}

In [7]:
# looping dictionary
# mencetak data pada dict secara berulang-ulang setiap key
for key in mahasiswa:
    print(key, mahasiswa[key])

# Atau:
for key, value in mahasiswa.items():
    print(f"{key}: {value}")

name Adam Bachtiar Maulachela
nidn 0708078505
name: Adam Bachtiar Maulachela
nidn: 0708078505